* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  position: relative;
}
#backdrop {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(243, 237, 237, 0.84);
  pointer-events: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#main-header {
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: blue;
}

#main-header h2 {
  text-transform: capitalize;
  font-size: 3rem;
  color: white;
  font-weight: 800;
}

#add-movie {
  display: inline-block;
  background: none;
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 9px;
  text-transform: uppercase;
  color: white;
  background-color: orangered;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.3s;
}

#add-movie:hover {
  background-color: orange;
}

#discription {
  width: 60rem;
  height: 9rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem auto;
  /* border: 2px solid black; */
  box-shadow: 0 0 3px 5px rgba(146, 144, 144, 0.358);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  width: 10rem;
  height: 4rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

#btn-success {
  background-color: blue;
  color: white;
  cursor: pointer;
}

#user-input-box input {
  height: 3.5rem;
}

#user-input-box input:focus {
  background-color: rgba(248, 175, 39, 0.66);
}
#add-movie-section {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 20;
}

#add-movie-box {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  row-gap: 2rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0 0 3px 4px rgba(154, 150, 150, 0.5);
  border-radius: 9px;
}

#user-input-box {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#action-box {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.list-item {
  margin: 3rem auto;

  display: grid;
  grid-template-columns: 2.5fr 6fr;
  width: 70rem;
  height: 15rem;
  gap: 2rem;
  border-radius: 9px;
  box-shadow: 0 0 5px 3px gray;
  align-items: center;
}

.list-item img {
  width: 100%;
  height: inherit;
}
.list-item .movie-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.list-item .movie-rating {
  display: inline-block;
  display: flex;
  width: 12rem;
  height: 3rem;
  background-color: orangered;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  color: white;
}

#delete-movie-box {
  display: flex;
  flex-direction: column;
  width: 70rem;
  margin: 3rem 3rem;
  gap: 2rem;
  font-size: 2rem;
  box-shadow: 0 0 9px 5px rgba(231, 221, 221, 0.805);

  justify-content: center;

  /* display: none; */
}

#delete-movie-box header {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: 6rem;
  color: white;
}

#delete-movie-box p {
  padding: 1rem;
}

#delete-movie-box .btn-box {
  margin-left: auto;
  padding-right: 3rem;
  display: flex;

  gap: 3rem;
}
#delete-movie-section {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#delete-cancel {
  display: inline-block;
  width: 20rem;
  color: blue;
  cursor: pointer;
}

#delete-yes {
  background-color: red;
  color: white;
  width: 8rem;
  cursor: pointer;
}
.visible {
  display: block !important;
}
